<div class="control-section">
  <div class="control-group">
    <label data-i18n="timeScale">Time Scale: </label>
    <input type="range" id="timeScale" min="1" max="10" value="1" step="0.1">
    <span id="scaleValue">1x</span>
  </div>
  <div class="control-group">
    <button id="generateCodeBtn" data-i18n="generateCode">Generate Arduino Code</button>
    <button id="resetChartBtn" data-i18n="resetChart">Reset Chart</button>
  </div>
  <div class="control-group">
    <h3 data-i18n="sineWave">Sine Wave Generator</h3>
    <label data-i18n="amplitude">Amplitude (%): </label>
    <input type="number" id="sineAmplitude" min="0" max="100" value="50">
    <label data-i18n="frequency">Frequency (Hz): </label>
    <input type="number" id="sineFrequency" min="0.1" max="10" step="0.1" value="1">
    <br>
    <label>
      <input type="checkbox" id="appendWave">
      <span data-i18n="appendWave">Append to last point</span>
    </label>
    <button id="sineWaveGenerate" data-i18n="generateWave">Generate Sine Wave</button>
  </div>
</div>
